<html ng-app="skWholesale" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico">
    <title>SK's Wholesale</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div ng-class="activePage === 1 ? 'home' : 'productList'">
      <div ng-class="showPage ? 'slidingShutter open' : 'slidingShutter'">
        <div class="loading">
          Loading...
        </div>
      </div>
      <section ng-class="(activePage === 1 && showPage) ? 'banner activeBanner' : 'banner'">
        <div class="navbar-wrapper">
          <div class="container">
            <div class="navbar navbar-fixed-top" id="id-navigation" role="navigation">
              <div class="containwrapper"></div>
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="handleMobileNav()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" ng-click="handlePageChange('Home')"><img src="img/SkswholeLogo.png" />{{skDetails.title}}</a>
                </div>
                <div ng-class="mobileNavClass ? 'navbar-collapse collapse in' : 'navbar-collapse collapse'">
                  <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="link in skDetails.navLinks">
                      <a ng-class="((activePage === 1 && link.navTitle === 'Home') || 
                                    (activePage === 2 && link.navTitle === 'Product') || 
                                    (activePage === 5 && link.navTitle === 'Branding') || 
                                    (activePage === 6 && link.navTitle === 'Item Classification')) ? 'active' : ''" 
                        ng-click="handlePageChange(link.navTitle)">{{link.navTitle}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bannerContainer" ng-if="activePage === 1">
          <h2>{{skDetails.banner.title}}</h2>
          <h1>{{skDetails.banner.subTitle}}</h1>
          <h3>{{skDetails.banner.location}}</h3>
        </div>
        <div class="bannerContainer" ng-if="activePage !== 1">
          <div class="container">
            <h1>{{title | uppercase}}</h1>
          </div>
        </div>
      </section>
      <div ng-if="activePage === 1">
        <section>
          <div class="container">
            <div class="row">
              <div class="col-md-6 aboutUsBanner imageWrapper"></div>
              <div class="col-md-6">
                <h2>{{skDetails.aboutUs.title}}</h2>
                <p ng-repeat="message in skDetails.aboutUs.content">{{message.msg}}</p>
                <a ng-click="aboutUsPage()">More..</a>
              </div>
            </div>
          </div>
        </section>
        <section class="products odd">
          <div class="container">
            <div class="row text-center titleSection">
              <h2>Products</h2>
              <a ng-click="handlePageChange('Product')" class="btn">Read More</a>
            </div>
            <ul class="row">
              <li class="col-sm-4" ng-repeat="product in skDetails.products" ng-if="$index < 3">
                <div class="productPopupWrapper">
                  <img ng-src="./img/products/{{product.img}}.jpg"/>
                  <div class="productPopup">
                    <h3 class="text-uppercase">{{product.title | uppercase}}</h3>
                    <p>{{product.msgOnThumbnail}}</p>
                    <a ng-click="productDetailsPage(product)">Read More</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section class="team">
          <div class="container">
            <div class="row text-center">
              <h2>Our Team</h2>
            </div>
            <ul class="row text-center">
              <li class="col-sm-6" ng-repeat="teamMate in skDetails.team">
                <div class="teamMates">
                  <h2>{{teamMate.title}}</h2>
                  <p>{{teamMate.details}}</p>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <div ng-if="activePage === 2">
        <section class="products">
          <div class="container">
            <ul class="row">
              <li class="col-sm-4" ng-repeat="product in skDetails.products">
                <div class="productPopupWrapper">
                  <img ng-src="./img/products/{{product.img}}.jpg"/>
                  <div class="productPopup">
                    <h3>{{product.title | uppercase}}</h3>
                    <p>{{product.msgOnThumbnail}}</p>
                    <a ng-click="productDetailsPage(product)">Read More</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <div ng-if="activePage === 3">
        <section class="products">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <img class="productDetailsImage" ng-src="./img/products/{{singleProductDetail.img}}.jpg"/>
                <div class="productDetailsPage">
                  <h2>{{singleProductDetail.title | uppercase}}</h2>
                  <p ng-repeat="productDetail in singleProductDetail.productDetails">{{productDetail.msg}}</p>
                  <div ng-repeat="productBrands in singleProductDetail.productBrands">
                    <h3>{{productBrands.brandName}}</h3>
                    <div ng-repeat="brandtype in productBrands.brandtypes">
                      <h4>{{brandtype.brandtype}}</h4>
                      <ul>
                        <li ng-repeat="description in brandtype.details">{{description.msg}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div ng-if="activePage === 4">
        <section class="products">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <img class="productDetailsImage" src="./img/aboutUs.jpg"/>
                <div class="productDetailsPage">
                  <h3>SK's Wholesale</h3>
                  <p ng-repeat="message in skDetails.aboutUs.content">{{message.msg}}</p>
                  <div ng-repeat="specialContent in skDetails.aboutUs.specialContent">
                    <h3>{{specialContent.title}}</h3>
                    <p ng-repeat="message in specialContent.msg">{{message.msg}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div ng-if="activePage === 5">
        <section class="products classification">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <ul ng-if="skDetails.branding.length">
                  <li ng-repeat="brand in skDetails.branding">
                    <h3 ng-class="$index ===0 ? 'marginTop0':''">{{brand.title}}</h3>
                    <ul ng-if="brand.subItem.length">
                      <li ng-repeat="item in brand.subItem">
                        <h4>{{item.title}}</h4>
                        <ul ng-if="item.subItem.length">
                          <li ng-repeat="itemSubSet in item.subItem">
                            <h5>{{itemSubSet.title}}</h5>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="col-sm-8">
                <ol class="breadcrumb">
                  <li><a>Rice</a></li>
                  <li><a>Basmati</a></li>
                  <li class="active">Steam</li>
                </ol>
                <ul ng-if="skDetails.branding.length">
                  <li ng-repeat="brand in skDetails.branding">
                    <ul ng-if="brand.subItem.length">
                      <li ng-repeat="item in brand.subItem">
                        <h4 ng-if="$index === 0">{{item.title}}</h4>
                        <ul ng-if="item.subItem.length">
                          <li ng-repeat="itemSubSet in item.subItem">
                            <h5>{{itemSubSet.title}}</h5>
                            <ul ng-if="itemSubSet.subItem.length">
                              <li ng-repeat="itemSubSetSubSet in itemSubSet.subItem">
                                <h6>{{itemSubSetSubSet.title}}</h6>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div ng-if="activePage === 6">
        <section class="products classification">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <ul><h2>Rice</h2>
                  <li>
                    <ul><h3>Basmati</h3>
                      <li>Steam</li>
                      <li>Non Steam</li>
                    </ul>
                  </li>
                  <li>
                    <ul><h3>Steam</h3>
                      <li>Akkha </li>
                      <li>Tukda</li>
                    </ul>
                  </li>
                  <li>
                    <ul><h3>Kolam Rice</h3>
                      <li>Steam</li>
                      <li>
                        <ul><h5>Non Steam</h5>
                          <li>Akkha </li>
                          <li>Tukda</li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h3>Parboiled Rice ( Ukda )</h3>
                  </li>
                  <li>
                    <h3>Pana Rice</h3>
                  </li>
                  <li>
                    <ul><h3>Ambemore</h3>
                      <li>Akkha </li>
                      <li>Tukda</li>
                    </ul>
                  </li>
                  <li>
                    <h3>Ghansal</h3>
                  </li>
                  <li>
                    <h3>Sela Rice</h3>
                  </li>
                  <li>
                    <h3>Masoorie</h3>
                  </li>
                  <li>
                    <ul><h3>Indrayani Rice</h3>
                      <li>Akkha </li>
                      <li>Tukda</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="col-sm-4">
                <ul><h2>Wheat</h2>
                  <li>Bansi</li>
                  <li>Sihore</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <ul><h2>Jwari</h2>
                  <li>Hybrid</li>
                  <li>Shalu</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section class="map">
        <div class="container">
          <div class="row">
            <li class="col-md-4 col-md-push-8 col-sm-6 col-sm-push-6">
              <div class="address">
                <h2 class="marginTop0">Contact Us</h2>
                <h4>Address</h4>
                <p class="marginBottom20">5/237, Dhanya Lane, Near Federal Bank, Opp PNG Jewellers, Ichalkaranji – 416115</p>
                <h4>Telephone Number</h4>
                <p class="marginBottom20">0230 – 2423381</p>
                <h4>Mobile Number</h4>
                <p class="marginBottom20">9823014200 / 9823159900</p>
                <h4>Email Address</h4>
                <p>skswholesale@gmail.com</p>
              </div>
            </li>
          </div>
        </div>
      </section>
      <footer class="text-center">&copy; 2020 SK's Wholesale All rights reserved</footer>
    </div>
    <script src="js/angular.min.js" data-semver="1.5.10"></script>
    <script src="js/script.js"></script>
    <script>
      window.onscroll = function() {
        if (window.pageYOffset > 500) {
          document.getElementById('id-navigation').classList.add('flatNav');
        } else {
          document.getElementById('id-navigation').classList.remove('flatNav');
        }
      }
    </script>
  </body>
</html>
