<div class="container searchContainer">
  <div class="row">
    <div class="col-md-3">
      <h2 class="mb-0">Inventory</h2>
    </div>
    <div class="col-md-7">
      <input type="search" class="form-control" ng-model="$ctrl.basicSearch.searchCriteriaInput" placeholder="Product Name">
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-link" ng-click="$ctrl.addInventory = {'recordAction': 'add'}; $ctrl.openPopup()">Add Inventory</button>
    </div>
  </div>
</div>
<div class="modal show modalPopup" id="addStock" aria-modal="true" ng-if="$ctrl.showPopup">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{$ctrl.addInventory.recordAction}} Inventory Entry</h4>
        <button type="button" class="close" ng-click="$ctrl.closePopup()">&times;</button>
      </div>
      <div class="modal-body">
        <form class="forms-sample row">
          <div class="col-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Brand</label>
              <input type="text" class="form-control" ng-model="$ctrl.addInventory.brandName" ng-disabled="$ctrl.addInventory.recordAction === 'view'">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Product Name</label>
              <input type="text" class="form-control" ng-model="$ctrl.addInventory.productName" ng-disabled="$ctrl.addInventory.recordAction === 'view'">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Quanitity</label>
              <input type="text" class="form-control" ng-model="$ctrl.addInventory.quanitity" ng-disabled="$ctrl.addInventory.recordAction === 'view'">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="exampleInputPassword1">Unit</label>
              <input type="text" class="form-control" ng-model="$ctrl.addInventory.unit" ng-disabled="$ctrl.addInventory.recordAction === 'view'">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Minimum Quantity</label>
              <input type="text" class="form-control" ng-model="$ctrl.addInventory.minimumQuantity" ng-disabled="$ctrl.addInventory.recordAction === 'view'">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Price Per Unit</label>
              <input type="text" class="form-control" ng-model="$ctrl.addInventory.pricePerUnit" ng-disabled="$ctrl.addInventory.recordAction === 'view'">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="exampleInputPassword1">Display Price Per Unit</label>
              <input type="text" class="form-control" ng-model="$ctrl.addInventory.displayPricePerUnit" ng-disabled="$ctrl.addInventory.recordAction === 'view'">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Supplier Name</label>
              <input type="text" class="form-control" ng-model="$ctrl.addInventory.supplierName" ng-disabled="$ctrl.addInventory.recordAction === 'view'">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Supplier Contact Number</label>
              <input type="text" class="form-control" ng-model="$ctrl.addInventory.supplierContactNumber" ng-disabled="$ctrl.addInventory.recordAction === 'view'">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Product Specification</label>
              <input type="text" class="form-control" ng-model="$ctrl.addInventory.productSpecification[0].spec" ng-disabled="$ctrl.addInventory.recordAction === 'view'">
            </div>
          </div>
          <div class="col-4">
            <button ng-if="$ctrl.addInventory.recordAction !== 'view'" ng-click="$ctrl.addInventoryFunction()" class="btn btn-success mr-2">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="$ctrl.closePopup()">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive inventoryTable">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Sr No</th>
        <th>Product</th>
        <th>Brand</th>
        <th>Quanitity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in $ctrl.inventoryManagementObject.inventory | orderBy: $ctrl.basicSearch.searchCriteriaSelect | filter: $ctrl.basicSearch.searchCriteriaInput">
        <td>{{$index + 1}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.brandName}}</td>
        <td>{{product.quanitity}}</td>
        <td>{{product.displayPricePerUnit}}</td>
        <td>
          <button class="btn btn-link" ng-click="$ctrl.handleFormEdit(product)">Edit</button>
          <!--button class="btn btn-link" ng-click="$ctrl.handleFormSave($index, product)" ng-if="!product.viewRecord">Save</button-->
          <button type="button" class="btn btn-link" ng-click="$ctrl.setViewData(product)">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>