<div class="alert alert-{{notificationStatus.notificationType}}" role="alert" ng-if="notificationStatus.notificationMessage">
  {{notificationStatus.notificationMessage}}
</div>
<div ng-if="activeAction === 'list'">
  <div class="col-sm-12 text-right marginBottom10">
    <button ng-click="addUpdateRecord('add')">Add Inventory</button>
  </div>
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Product Name</th>
          <th>Inventory Quanitity</th>
          <th>Inventory Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody ng-if="inventoryResp.inventoryList.length">
        <tr ng-repeat="inventory in inventoryResp.inventoryList" ng-class="inventory.deleteFlag ? 'deletedRow' : ''">
          <th scope="row">{{$index + 1}}</th>
          <td>
            <div ng-repeat="product in inventoryResp.productList">
              <span ng-if="product.productID === inventory.productID">{{product.name}}</span>
            </div>
          </td>
          <td>{{inventory.quantity}}</td>
          <td>{{inventory.pricePerUnit}}</td>
          <td>
            <button ng-click="addUpdateRecord('view', inventory)">View</button>
            <!--button ng-click="addUpdateRecord('edit', inventory)">Edit</button-->
            <!--button ng-click="addInventory('delete', inventory)" ng-if="inventory.deleteFlag === false">Delete</button-->
          </td>
        </tr>
      </tbody>
      <tbody ng-if="!inventoryResp.inventoryList.length">
        <tr>
          <td colspan="5">No Record found</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div ng-if="activeAction !== 'list'" class="container">
  <div class="row">
    <div class="form-group col-xs-8">
      <h3 style="text-transform: capitalize; margin: 0;">{{activeAction}} Inventory</h3>
    </div>
    <div class="form-group col-sm-4 text-right">
      <button ng-click="addUpdateRecord('list')">Close</button>
    </div>
  </div>
  <hr style="margin-top: 0;"/>
  <div class="row">
    <div class="form-group col-sm-4">
      <label for="name">Product Name</label>
      <select class="form-control" id="productName" placeholder="Product Name" ng-model="inventoryForm.productID" ng-disabled="isViewMode()">
        <option ng-repeat="product in inventoryResp.productList" value="{{product.productID}}" ng-selected="product.productID === inventoryForm.productID">{{product.name}}</option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label for="quantity">Inventory Quanitity</label>
      <input type="text" class="form-control" id="quantity" placeholder="Inventory Quanitity" ng-model="inventoryForm.quantity" ng-disabled="isViewMode()">
    </div>
    <div class="form-group col-sm-4">
      <label for="pricePerUnit">Inventory Price Per Unit</label>
      <input type="text" class="form-control" id="pricePerUnit" placeholder="Inventory Price Per Unit" ng-model="inventoryForm.pricePerUnit" ng-disabled="isViewMode()">
    </div>
    <div class="col-sm-12" ng-if="!isViewMode()">
      <button class="btn btn-default" ng-click="addInventory(activeAction)">Submit</button>
    </div>
  </div>
</div>