.personalDP {
	position: absolute;
	background: #fff;
	font-size: 120px;
	border-radius: 50%;
	left: 80px;
    overflow: hidden;
    height: 120px;
}
.personalDetails .fa {
	width: 30px;
	text-align: center;
}
.title {
    position: absolute;
    padding: 0 20px;
    color: #fff;
    top: 0;
    font-size: 25px;
    line-height: 27px;
    left: 0;
    right: 0;
    width: 280px;
    text-align: center;
    margin: auto;
}
.title:before {
    border-top: 100px solid #2E3E4D;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    position: absolute;
    content: ' ';
    width: 400px;
    top: -60px; 
    z-index: -1;
    left: -60px;
}
li {
    text-align: left;
}
@media (max-width: 767px) {
    .personalDP {
        display: none;
    }
}
@media (max-width: 576px) {
    .title:before {
        border-left: 40px;
        border-right: 40px;
        width: 320px;
        left: -25px;
    }
}
